{% extends 'base.html' %}

{% block title %}Enlace Enviado - AquaFlow{% endblock %}
{% block page_title %}Enlace Enviado{% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-card">
        <div class="auth-header">
            <i class="fa-solid fa-circle-check brand-icon text-success"></i>
            <h2>¡Enlace Enviado con Éxito!</h2>
            <p class="mt-3">Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Revisa tu bandeja de entrada y spam.</p>
        </div>

        <div class="auth-footer mt-4">
            <a href="{% url 'login' %}" class="btn btn-primary btn-block">Volver al Inicio</a>
        </div>
    </div>
</div>
{% endblock %}
